/***********************************
            CIUDADES.HTML 
 ***********************************/
 .ciudades__titulo{
    padding: 15px;
}
 
.ciudad{
    display: flex;
    border-top: 0.5px solid rgba(0,0,0,0.2);
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
    align-items: center;
    .ciudad__image{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .ciudad__texto{
        padding: 30px;
        text-align: justify;
    }
}





