/***********************************
            FOOTER
 ***********************************/
 footer{
    text-align: center;
    min-height: 100vh;
    .footer__superior{
        min-height: 60vh;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .texto_superior h2{
            font-size: $fontsize1;
            }
    }
    .footer__inferior{
        background: $color;
        color: white;
        min-height: 40vh;
        .footer__info{
            margin:0;
            padding: 30px;
            padding-top: 45px;
            text-align: center;
            h4{
                @include medidas(16px,600)
            }
            p{
                font-weight: 200;
            }
            ul{
                padding: 0px;
            }
            .iconos{
                font-size: 60px;
            }
        }
    }

}