@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import "globals";
@import "header";
@import "footer";
@import "index";
@import "about";
@import "ciudades";
@import "contacto";
@import "tours";

@media screen and (max-width:768px){
    .menu{
       flex-direction: column;
       align-items: center;
       .menu__opcion{
        width: 100%;
       }
   }

   .icono_menu i{
       display:inline;
   }

   .icono_menu:hover{
       color: $color;
   }

   .footer__info{
       text-align: center;
   }

   .portada{
    min-height: 50vh;
}

.tours__verMas{
    width: 40%;
}

.ciudad__image{
    width: 100%;
}
.ciudad__texto{
    width: 100%;
}


}


@media screen and (max-width:365px){
    .logo {
        a{
            img{
                    width:100%;
                    height:auto;
                }
        }
    }
    .tours__verMas{
        width: 80%;
    }

}


